<ng-container *ngIf="tweet">
  <div class="tweet">
    <a [routerLink]="['/tweets/', tweet._id]">
      <div class="tweet-main">
        <section class="tweet-left">
          <img class="user-avatar" [src]="tweet.tweet_user[0].avatar" alt="user avatar">
        </section>
        <section class="tweet-right">
          <div class="tweet-upper-info">
            <h3>{{ tweet.tweet_user[0].nickname }}</h3>
            <h4>@{{ tweet.author }}</h4>
          </div>
          <div class="tweet-content">
            <p>{{ tweet.content }}</p>
          </div>
        </section>
      </div>
    </a>
      <section class="tweet-interactions">
        <span>
          <img src="https://cdn-icons-png.flaticon.com/512/7263/7263949.png" alt="comment">
          {{ tweet.comments?.length }}
        </span>
        <span>
          <img src="https://cdn-icons-png.flaticon.com/512/535/535234.png" alt="like">
          {{ tweet.likes }}
        </span>
      </section>
  </div>
</ng-container>
