<header class="header">
  <div class="inner-header">
    <div class="tweet-icon">
      <a routerLink="/">
        <img
          src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/bird_1f426.png"
          alt="Gazouilleur"
        />
      </a>
    </div>

    <form>
      <input
        class="search-input"
        type="text"
        placeholder="Recherche d'un tweet"
      />
    </form>

    <img
      class="settings-icon"
      src="../../../assets/settings-svgrepo-com.svg"
      alt="settings"
    />
  </div>
</header>
